<h3>Open Tables</h3>
            <ul class="messages">
              <% for(var i=0; i< tables.length; i++) {%>
                  <li class="message">
                    <a href="/profile/<%= tables[i].tableName%>"><p><span>Table: <%= tables[i].tableName%></span> , <span>Players: <%= tables[i].avalPlayers%></span> </p></a>
                  </li>
              <% } %>
          </ul>